# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.env

# Arquivos de configuração sensíveis (Exemplo)
# Cuidado para não subir senhas do Asterisk ou de APIs
credentials.json
manager.conf

# Logs do Asterisk (Exemplo)
/var/log/asterisk/

# Arquivos de IDEs/Editores
.vscode/
.idea/
